<script lang="ts" setup>
import { ref } from "vue";
const text = ref("Smile");
const pic = ref("feeling_imgs/smile.png");
const shade = ref(6);
function change(pic1: string, text1: string, shade1: number) {
  pic.value = pic1;
  text.value = text1;
  shade.value = shade1;
}
</script>
<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <v-row class="justify-center ma-7">
            <th
              style="
                text-align: center;
                font-size: 30pt;
                padding-right: 200px;
                padding-top: 70px;
              "
            >
              <v-img class="img" :src="pic"></v-img>
            </th>
            <th style="text-align: center; font-size: 15pt">
              <h1>{{ text }}</h1>
              <v-btn
                class="btn"
                :color="shade === 1 ? 'yellow' : 'none'"
                @click="change('feeling_imgs/angry.png', 'Angry', 1)"
                >Angry</v-btn
              ><br />
              <v-btn
                class="btn"
                :color="shade === 2 ? 'yellow' : 'none'"
                @click="change('feeling_imgs/cute.png', 'Cute', 2)"
                >Cute</v-btn
              ><br />
              <v-btn
                class="btn"
                :color="shade === 3 ? 'yellow' : 'none'"
                @click="change('feeling_imgs/excited.png', 'Excited', 3)"
                >Excited</v-btn
              ><br />
              <v-btn
                class="btn"
                :color="shade === 4 ? 'yellow' : 'none'"
                @click="change('feeling_imgs/pain.png', 'Pain', 4)"
                >Pain</v-btn
              ><br />
              <v-btn
                class="btn"
                :color="shade === 5 ? 'yellow' : 'none'"
                @click="change('feeling_imgs/shocked.png', 'Shocked', 5)"
                >Shocked</v-btn
              ><br />
              <v-btn
                class="btn"
                :color="shade === 6 ? 'yellow' : 'none'"
                @click="change('feeling_imgs/smile.png', 'Cute', 6)"
                >Smile</v-btn
              ><br />
            </th>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.btn {
  width: 500px;
  margin: 10px;
}
.img {
  width: 300px;
}
</style>
