<script lang="ts" setup>
import { ref } from "vue";
import type Product from "@/types/product";

const sumPrice = ref(0);
const productPurchased = ref<Product[]>([]);

function buyProduct(id: number, name: string, price: number) {
  productPurchased.value.push({ id, name, price });
  sumPrice.value += price;
}

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="7">
        <v-container class="" style="height: 80vh; overflow-y: auto">
          <v-row>
            <v-col cols="4" v-for="(item, index) in products" :key="index">
              <v-card class="mt-8" width="300">
                <v-card-title style="text-align: center">{{
                  item.name
                }}</v-card-title>
                <v-card-text style="text-align: center">
                  {{ item.price }}
                </v-card-text>

                <v-container style="text-align: center; position: relative">
                  <v-btn @click="buyProduct(item.id, item.name, item.price)">
                    add
                  </v-btn>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col>
        <v-container style="height: 80vh; overflow-y: auto"
          ><v-table>
            <thead>
              <tr>
                <th class="text-left">id</th>
                <th class="text-left">name</th>
                <th class="text-left">price</th>
              </tr>
            </thead>
            <tbody v-if="productPurchased.length != 0">
              <tr v-for="item in productPurchased" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>
          <p
            v-if="productPurchased.length == 0"
            class="mt-5"
            style="text-align: center"
          >
            No Data
          </p>
        </v-container>
        <p style="font-size: 25pt" class="mt-10">Sum: {{ sumPrice }}</p>
      </v-col>
    </v-row>
  </v-container>
</template>
