<script setup lang="ts">
import { ref } from "vue";
const a = ref(0);
const b = ref(0);
function incre() {
  a.value += 1;
  b.value = 2 * a.value;
}
function decre() {
  if (a.value > 0) {
    a.value -= 1;
    b.value = 2 * a.value;
  }
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <h1>First Component</h1>
      </v-col>
      <v-col>
        <h1>Second Component</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col>{{ a }}</v-col>
      <v-col>{{ b }}</v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-btn @click="incre()">Increment</v-btn>
      </v-col>
      <v-col>
        <v-btn @click="decre()">Decrease</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

